.markdown-body,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body p {
  font-family: 'Times New Roman', Times, serif !important;
}

.markdown-body code,
.markdown-body pre {
  font-family: monospace !important;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: none;
}

.markdown-body th:empty {
  display: none;
}

.markdown-body hr {
  height: 1px;
  border: none;
}
